<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white p-10">
    <div class="w-full flex justify-end">
        <a class="px-3 py-2 bg-red-500 rounded-md text-sm" href="/logout">logout</a>
    </div>

    <h3 class="text-3xl mb-5">Hello, <%= user.username%> 🤗</h3>
    
    <h2 class="mb-5">Create a new post</h2>
    
    <form action="/post" method="POST">
        <textarea placeholder="Write what's on your mind..." name="content" class="block p-3 outline-none border-2 border-zinc-800 bg-transparent rounded-md w-1/3 resize-none mb-4"></textarea>
        <input type="submit" class="px-3 py-2 w-40 bg-blue-500 rounded-md text-sm cursor-pointer" value="Create Post">
    </form>

    <div class="mt-10">
        <h3 class="text-zinc-500 mb-5">Your posts</h3>
        <div class="flex flex-wrap gap-4">
             <!-- <div class="post w-1/3 p-2 border-2 border-zinc-800 rounded-md bg-transparent bg-zinc-800 mb-5 border-1px">
                        <h3 class="text-blue-600 mb-3">@Alex</h3>
                        <h2 class="tracking-tight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem corrupti vitae eos, aspernatur qui quibusdam itaque alias quam sequi accusantium voluptatibus, hic consequatur eum cumque dolor voluptatum voluptates soluta quisquam?</h2>
                        <div class="btns flex gap-4 mt-5">
                            <a  class="text-blue-600" href="">Like</a>
                            <a  class="text-zinc-500" href="">edit</a>
                        </div>
        </div>  -->    
            <% posts.reverse().forEach(function(post) { %>
                <div class="post w-1/3 p-2 border-2 border-zinc-800 rounded-md bg-transparent bg-zinc-800 mb-5 border-1px">
                    <h3 class="text-blue-600 mb-3">@<%=  user.username%></h3>
                    <p class="tracking-tight"><%= post.content %></p>
                    <div class="flex gap-4 mt-5">
                        <a class="text-blue-600" href="/like/<%= post._id %>">Like</a>
                        <a class="text-zinc-500" href="/edit/<%= post._id %>">Edit</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>